body{
	font-family: 'Roboto', sans-serif;
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	overflow-x: hidden; 
	background-color: black;
	color: white;
	@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
	font-family: 'Pirata One', cursive;
}

h1{
    text-align: center;
    color: #d6d5d5;
   
}
h1:hover{
	animation: wiggle 0.6s;
}




#fontpageH{
	text-align: center;
	color: #d6d5d5;
	position: relative;
	bottom: -250px;
	font-size: 52px;
	
}

#fontpageH:hover{
	animation: wiggle 0.6s;
}

#fontpageH2{
	text-align: center;
	color: #d6d5d5;
	position: relative;
	bottom: -250px;
	font-size: 42px;
	font-family: 'Pirata One', cursive;
}


#hints{
	position: relative;
	text-align: center;
	left: 50px;
}
#yourNumber {
    width: 10%;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
    background-color: #d6d5d5;
	font-size: 25px;
	resize: none;
	text-align: center;

  }

#unknownNumber{
	font-size: 30px;
	background-color: #d6d5d5;
	color: black;
	border: 3px solid white;
	width: 30px;
	height: 60px;
	padding: 12px 20px;
	box-sizing: border-box;
	border-radius: 4px;
  }

  #inputOutput{
	display: block;
    text-align: center;
    position: relative;
    left: 0;
    top: 100px;
    font-size: 18px
  }


  #pointsLive{
	display: block;
	position: relative;
	font-size: 30px;
	box-sizing: border-box;
	border-radius: 4px;
	float:right;
	right: 50px;
	bottom:-200px;

  }



  @keyframes example {
	0%   {color: rgb(86, 150, 158);}
	25%  {color: rgb(10, 147, 156);}
	50%  {color: rgb(167, 42, 199);}
	100% {color: rgb(126, 128, 11);}
	
  }



h1:before{
	height: 55px;
	width: 7px;
	left:10px;
	bottom: 5px;
	border-radius: 7px;
}
h1:after{
	height: 7px;
	width: 7px;
	border-radius: 50%;
	bottom: 65px;
	left:10px;
}

@keyframes wiggle{
	25%{
		transform: scale(0.8,1.3);
	}
	50%{
		transform: scale(1.1,0.8);
	}
	75%{
		transform: scale(0.7,1.2);
	}
}


.buttonHints{
	border-radius: 4px;
	background-color: black;
	border: none;
	color: balck;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	width: 100px;
    height:40px;
	margin: 5px;
	color: #d6d5d5;
	border: 2px solid #d6d5d5;
	position: relative;
	bottom: -10px;
  }

.button {
	border-radius: 4px;
	background-color: #d6d5d5;
	border: none;
	color: balck;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 380px;
    height: 70px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	font-family: 'Pirata One', cursive;
	
  }

  #buttonStart {
	text-align: center;
	position: relative;
	bottom: -200px;
	font-size: 35px;
	width: 280px;
    height: 80px;	
  }

  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.3s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.3s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover{
	background-color: black;
	color: #d6d5d5;
	border: 2px solid  #d6d5d5;
  }
  

  .button:hover span:after {
	  
	opacity: 1;
	right: 0;
  }